@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';


.menuPics {
    border: black 4px solid;
    margin: 30px;
}

.restPics {
    width: 400px;
    height: 300px;
}

.card {
    border: black 3px solid;
    margin-top: 20px;
    font-size: 1em;
}

.contact-text {
    border-right: black 1px solid;
}

.card-content {
    text-align: left;
}

.homeBanner {
    background-color: navajowhite;
    border: solid black 2px;
    margin-top: 20px;
}

body {
    background: url("https://media.timeout.com/images/102762113/630/472/image.jpg")no-repeat center center fixed;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    font-size: 1em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 1024px;
    min-width: 1024px;
    width: 100%;
    height: 100%;
}

#contactUsPage {
    margin: auto;
}