@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.menuPics {
    border: black 4px solid;
    margin: 30px;
}

.restPics {
    width: 400px;
    height: 300px;
}

.card {
    border: black 2px solid;
    margin-top: 20px;
}

.contact-text {
    border-right: black 1px solid;
}

.card-content {
    text-align: left;
}